In [1]:
#casting: conversion of one datatype into another datatype.

In [3]:
# int()
# float()
# str()
# list()
# tuple()
# set()
# dict()
# frozenset()
# bool()
# complex()

In [5]:
a=1 # integer to float 
print(type(a),a)

<class 'int'> 1

In [8]:
b=float(a)
print(id(b),b,type(b))

2332374084176 1.0 <class 'float'>

In [9]:
# conversion of int to string
c=str(a)
print(c,id(c),type(c))

1 2332353197232 <class 'str'>

In [10]:
d=list(a)
print(d,id(d),type(d))

TypeError: 'int' object is not iterable

In [11]:
e=tuple(a)
print(e,id(e),type(e))

TypeError: 'int' object is not iterable

In [12]:
f=set(a)
print(f,id(f),type(f))

TypeError: 'int' object is not iterable

In [13]:
g=frozenset(a)
print(g,id(g),type(g))

TypeError: 'int' object is not iterable

In [15]:
h=complex(a,2)
print(h,id(h),type(h))

(1+2j) 2332380875504 <class 'complex'>

In [16]:
i=bool(a)
print(i,id(i),type(i))

True 140709657418600 <class 'bool'>

In [17]:
j=dict(a)
print(j,id(j),type(j))

TypeError: 'int' object is not iterable

In [18]:
# float()
a=1.0
print(a,id(a),type(a))

1.0 2332375691504 <class 'float'>

In [19]:
# float to int()
b=int(a)
print(b,id(b),type(b))

1 140709658944296 <class 'int'>

In [20]:

# float to str()
c=str(a)
print(c,id(c),type(c))

1.0 2332375112880 <class 'str'>

In [22]:
# float to list() not possible, beacuse float is not iterable(a datatype which doesnot contain __init__)
d=list(a)  #1.0
print(d,id(d),type(d))

TypeError: 'float' object is not iterable

In [23]:
# float to tuple()
e=tuple(a)
print(e,id(e),type(e))

TypeError: 'float' object is not iterable

In [24]:
# float to set()
f=set(a)
print(f,id(f),type(f))

TypeError: 'float' object is not iterable

In [25]:
# float to dict()
g=dict(a)
print(g,id(g),type(g))

TypeError: 'float' object is not iterable

In [26]:
# float to frozenset()
h=frozenset(a)
print(h,id(h),type(h))

TypeError: 'float' object is not iterable

In [28]:
# bool()
i=bool(a)
print(i,id(i),type(i))

True 140709657418600 <class 'bool'>

In [30]:
# float to complex()
j=complex(a,2)
print(j,id(j),type(j))

(1+2j) 2332380878416 <class 'complex'>

In [40]:
# str()
a="1.0"
b="this is krishna."
# int()
# float()
# list()
# tuple()
# set()
# dict()
# frozenset()
# bool()
# complex()

In [41]:
print(a,type(a))

1.0 <class 'str'>

In [42]:
int(a)

ValueError: invalid literal for int() with base 10: '1.0'

In [43]:
b=float(a)

In [45]:
print(b,type(b))

1.0 <class 'float'>

In [48]:
print(a,type(a))

1.0 <class 'str'>

In [49]:
a

'1.0'

In [50]:
int(a)

ValueError: invalid literal for int() with base 10: '1.0'

In [52]:
h=float(a)

In [54]:
print(h)
i=int(float(a))
print(i,type(i))

1.0
1 <class 'int'>

In [55]:
a

'1.0'

In [56]:
# str to list()
list(a)

['1', '.', '0']

In [64]:
d="krishna"
list(("krishna",))

['krishna']

In [59]:
print(["krishna"])

['krishna']

In [65]:
a=("krishna",)
print(type(a))

<class 'tuple'>

In [66]:
a=[1,2,3,4,5]

In [67]:
tuple(a)

(1, 2, 3, 4, 5)

In [68]:
set(a)

{1, 2, 3, 4, 5}

In [69]:
frozenset(a)

frozenset({1, 2, 3, 4, 5})

In [70]:
dict(a)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [71]:
a

[1, 2, 3, 4, 5]

In [72]:
m=(1,2,3,4,5)
print(type(m))

<class 'tuple'>

In [74]:
#tuple to list()
list(m)

[1, 2, 3, 4, 5]

In [75]:
# tuple to set and frozenset

set(m)

{1, 2, 3, 4, 5}

In [76]:
frozenset(m)

frozenset({1, 2, 3, 4, 5})

In [ ]:
input with casting

if else: