In [3]:
def intro():
    print("I am AI Trainer")

In [2]:
print("I am krishna")
print("I am AI trainer")

I am krishna
I am AI trainer

In [4]:
print("I am krishna")
intro()

I am krishna
I am AI Trainer

In [7]:
def intro():
    print("I am AI Trainer")
    
def super(arg):
    def inner():
        print("I am krishna")
        arg()
    return inner
val=super(intro)
val()

I am krishna
I am AI Trainer

In [18]:
def krishna(arg):
    def inner():
        print("I am krishna")
        arg()
    return inner
@krishna
def intro():
    print("I am AI Trainer")

In [17]:
intro()

I am krishna
I am AI Trainer

In [23]:
def krishna():
    print("this is krishna")

In [24]:
krishna()

this is krishna

In [ ]:
I am 27 years old
this is krishna
I am in MCA final year

In [26]:
def krishna():
    print("this is krishna")
    
def sourabh(a):
    def inner():
        print("I am 27 years old")
        a()
        print("I am in MCA final year")
        
    return inner
val=sourabh(krishna)
val()

I am 27 years old
this is krishna
I am in MCA final year

In [2]:
sub(2,4)

-2

In [3]:
sub(5,2)

3

In [26]:
def sub(a,b):
    print(a-b)

def super(anirudh):
    def inner(a=int(input("Enter 1st number :")),b=int(input("Ente 2nd number :"))):
        if a<b:
            a,b=b,a
            anirudh(a,b)
    return inner

val=super(sub)
val()

10

In [ ]:
1