In [1]:
def hello():
    print("hello world")
    print("hello world")
    print("hello world")
    print("hello world")
    print("hello world")

In [2]:
hello()

hello world
hello world
hello world
hello world
hello world

In [3]:
print("this is krishna")

this is krishna

In [6]:
hello()

hello world
hello world
hello world
hello world
hello world

In [12]:
def welcome(n):
    for i in range(n):
        print("hello world")

In [21]:
welcome(10)

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [11]:
welcome()

hello world
hello world
hello world
hello world

In [24]:
def welcome(n):
    for i in range(n):
        print(i+1,"hello world")

In [25]:
welcome(3)

1 hello world
2 hello world
3 hello world

In [26]:
def add(a,b):
    print(a+b)

In [27]:
add(2,4)

6

In [28]:
add(4,6)

10

In [30]:
krishna=add(3333333333333333333333,43333333333333333334343)

46666666666666666667676

In [31]:
krishna

In [11]:
def add2(c,d):  # positional argument
    return c+d

In [12]:
krishna2=add2(3,4)

In [13]:
krishna2

7

In [14]:
def add3(c=0,d=0):  #key value argument
    return c+d

In [15]:
add3(3,4)

7

In [16]:
add3()

0

In [17]:
add3(4)

4

In [18]:
add3(4,3)

7

In [24]:
def add4(c,d=0):  # always positional argument come first and then key value argument define
    return c+d

In [26]:
add4(4,5)

9

In [27]:
add4(4)

4

In [30]:
# lamabda --> annonymous function
# Definition: a function having no name and contain only 1 statement

In [39]:
x=lambda c,d: c+d

In [40]:
x(3,4)

7

In [41]:
x(4,5)

9

In [42]:
x=lambda c,d: c+d; print("hello world")

hello world

In [43]:
x(3,4)

7

In [61]:
x=lambda c=1,d=0: (c+d)

SyntaxError: invalid syntax (2115087711.py, line 1)

In [59]:
x(4,5)

9

In [57]:
x(3)

3