In [1]:
# list constructor is list()
# list literal is []
# list is a set of sequence of element(s).
# list is mutable(which we can change) 
# list support indexing and slicing 
# In python only assumption that a list is an array.
# list support concatination
# list have multiple inbuilt methods.

In [5]:
# list constructor is list()
a=list()
print(a)
print(id(a),type(a))

[]
2728526821952 <class 'list'>

In [7]:
# list literal is []
b=[]
print(type(b),id(b))

<class 'list'> 2728527654336

In [8]:
# list is a set of sequence of element(s).
c=[10,10.0,"10"]

In [9]:
print(c)

[10, 10.0, '10']

In [11]:
c

[10, 10.0, '10']

In [12]:
c[0]

10

In [13]:
d=[1,2,3,4,5,6,7,[11,22,33,44]]

In [14]:
d[1]

2

In [15]:
c

[10, 10.0, '10']

In [17]:
c[1:3:1]

[10.0, '10']

In [18]:
e=[1,10.0,"krishna",bool(10)]

In [19]:
print(e)

[1, 10.0, 'krishna', True]

In [20]:
e[-1::-1]

[True, 'krishna', 10.0, 1]

In [23]:
# list support concatination

a=[1,2,3,4]
b=["rohit",1,2,3]
print(a+b)

[1, 2, 3, 4, 'rohit', 1, 2, 3]

In [25]:
a="krishna"
a[1]

'r'

In [26]:
b="k r i s h n a"
b[1]

' '

In [34]:
a=[10]
print(a)
print(id(a))

[10]
2728532998848

In [35]:
a.append(11)

In [36]:
print(a)
print(id(a))

[10, 11]
2728532998848

In [1]:
# nesting

In [2]:
a=[1,2,3,4,5,[7,9,0]]

In [3]:
a[0]

1

In [5]:
b=a[5]

In [6]:
b

[7, 9, 0]

In [7]:
b[1]

9

In [8]:
a[5][1]

9

In [9]:
a[5][1:3]

[9, 0]

In [12]:
#In python, list assume like an array

# definition of array:-> if a collection contain similar type of elements called array

In [14]:
v=[1,2,3,4,5,6,"krishna"]
print(type(v))

<class 'list'>

In [15]:
import array

In [19]:
b=array.array("I",[1,2,3,4,5,6])
print(b,type(b))

array('I', [1, 2, 3, 4, 5, 6]) <class 'array.array'>

In [20]:
c=array.array("I",[1,2,3,4,5,6,"krishna"])
print(c,type(c))

TypeError: 'str' object cannot be interpreted as an integer

In [21]:
# methods of list

In [22]:
a=[]
print(type(a),id(a),a)

<class 'list'> 2008768596288 []

In [24]:
a.append(1)   # identifier,variable, argument,arg,object all are same.count

In [25]:
print(a)

[1]

In [26]:
a.append(10.0)

In [27]:
print(a)

[1, 10.0]

In [28]:
a.append("krishna")

In [29]:
print(a)

[1, 10.0, 'krishna']

In [30]:
a.append([1,2,3,4])

In [31]:
print(a)

[1, 10.0, 'krishna', [1, 2, 3, 4]]

In [32]:
a.append(10,20,30)

TypeError: list.append() takes exactly one argument (3 given)

In [33]:
a.count(10.0)

1

In [34]:
a.count(1)

1

In [36]:
a[3].count(1)

1

In [37]:
print(a)

[1, 10.0, 'krishna', [1, 2, 3, 4]]

In [38]:
a.extend(1)

TypeError: 'int' object is not iterable

In [39]:
a.extend(10.0)

TypeError: 'float' object is not iterable

In [40]:
a.extend("krishna")

In [41]:
a

[1, 10.0, 'krishna', [1, 2, 3, 4], 'k', 'r', 'i', 's', 'h', 'n', 'a']

In [42]:
a.extend([1,2,3,4])

In [44]:
print(a)

[1, 10.0, 'krishna', [1, 2, 3, 4], 'k', 'r', 'i', 's', 'h', 'n', 'a', 1, 2, 3, 4]

In [45]:
a.extend(['Krishna'])

In [47]:
print(a)

[1, 10.0, 'krishna', [1, 2, 3, 4], 'k', 'r', 'i', 's', 'h', 'n', 'a', 1, 2, 3, 4, 'Krishna']

In [48]:
a.insert(1,"rohan")

In [50]:
print(a)

[1, 'rohan', 10.0, 'krishna', [1, 2, 3, 4], 'k', 'r', 'i', 's', 'h', 'n', 'a', 1, 2, 3, 4, 'Krishna']

In [51]:
a.pop()

'Krishna'

In [52]:
print(a)

[1, 'rohan', 10.0, 'krishna', [1, 2, 3, 4], 'k', 'r', 'i', 's', 'h', 'n', 'a', 1, 2, 3, 4]

In [53]:
a.pop(1)

'rohan'

In [54]:
print(a)

[1, 10.0, 'krishna', [1, 2, 3, 4], 'k', 'r', 'i', 's', 'h', 'n', 'a', 1, 2, 3, 4]

In [55]:
a.pop(100)

IndexError: pop index out of range

In [56]:
a.remove('krishna')

In [57]:
print(a)

[1, 10.0, [1, 2, 3, 4], 'k', 'r', 'i', 's', 'h', 'n', 'a', 1, 2, 3, 4]

In [58]:
a.remove("roshan")

ValueError: list.remove(x): x not in list

In [59]:
a.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [61]:
print(a)

[1, 10.0, [1, 2, 3, 4], 'k', 'r', 'i', 's', 'h', 'n', 'a', 1, 2, 3, 4]

In [62]:
a.reverse()

In [63]:
print(a)

[4, 3, 2, 1, 'a', 'n', 'h', 's', 'i', 'r', 'k', [1, 2, 3, 4], 10.0, 1]

In [64]:
a.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [67]:
a=[1,2,5,3,2,5]
a.sort(reverse=True)

In [68]:
a

[5, 5, 3, 2, 2, 1]

In [70]:
print(a)
print(id(a))

[5, 5, 3, 2, 2, 1]
2008769202752

In [71]:
b=a

In [74]:
print(b)
print(id(b))

[5, 5, 3, 2, 2, 1]
2008769202752

In [73]:
a

[5, 5, 3, 2, 2, 1]

In [75]:
b.pop()

1

In [76]:
b

[5, 5, 3, 2, 2]

In [77]:
a

[5, 5, 3, 2, 2]

In [79]:
print(a)
print(id(a))

[5, 5, 3, 2, 2]
2008769202752

In [80]:
b=a.copy()

In [82]:
print(b)
print(id(b))

[5, 5, 3, 2, 2]
2008769258816

In [83]:
b.pop()

2

In [84]:
print(b)

[5, 5, 3, 2]

In [85]:
print(a)

[5, 5, 3, 2, 2]

In [86]:
print(a)

[5, 5, 3, 2, 2]

In [87]:
a.clear()

In [88]:
print(a)

[]