In [1]:
import mysql.connector as sql

In [2]:
db=sql.Connect(host="localhost",user="root",password="root",port=3306, database="wd_6pm")

In [3]:
cur=db.cursor()

In [4]:
cur.execute("show tables")

In [5]:
for i in cur:
    print(i)

('collage',)
('collage2',)
('dtable',)
('event',)
('hostel',)
('hostel2',)

In [6]:
cur.execute("select * from collage")

In [7]:
for i in cur:
    print(i)

(1, 'a', 'CS')
(2, 'b', 'MCA')
(3, 'c', 'BCA')
(4, 'd', 'BTech')

In [8]:
cur.execute("select * from dtable")

In [9]:
for i in cur:
    print(i)

(datetime.date(2023, 6, 13), datetime.timedelta(seconds=65772), datetime.datetime(2023, 6, 13, 18, 16, 12))
(datetime.date(2023, 6, 13), datetime.timedelta(seconds=65899), datetime.datetime(2023, 6, 13, 18, 18, 19))
(datetime.date(2023, 6, 13), datetime.timedelta(seconds=66060), datetime.datetime(2023, 6, 13, 18, 21))
(datetime.date(2023, 6, 13), datetime.timedelta(seconds=66106), datetime.datetime(2023, 6, 13, 18, 21, 46))
(datetime.date(2023, 6, 13), datetime.timedelta(seconds=65899), datetime.datetime(2023, 6, 13, 18, 18, 19))

In [10]:
cur.execute("insert into collage values(5,'e','MCA')")

In [11]:
db.commit()

In [12]:
cur.execute("Select * from collage")

In [13]:
for i in cur:
    print(i)

(1, 'a', 'CS')
(2, 'b', 'MCA')
(3, 'c', 'BCA')
(4, 'd', 'BTech')
(5, 'e', 'MCA')

In [14]:
cur.execute("create table python(sn int, name varchar(100))")

In [15]:
db.commit()

In [16]:
cur.execute("show tables")

In [17]:
for i in cur:
    print(i)

('collage',)
('collage2',)
('dtable',)
('event',)
('hostel',)
('hostel2',)
('python',)